<script src="{{uiRootPath}}/js/site.js"></script>

<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  messageStyle: "none",
  tex2jax: {
    inlineMath: [["\\(", "\\)"]],
    displayMath: [["\\[", "\\]"]],
    ignoreClass: "nostem|nolatexmath"
  },
  asciimath2jax: {
    delimiters: [["\\$", "\\$"]],
    ignoreClass: "nostem|noasciimath"
  },
  TeX: {
      Macros: {
      RR: "{\\mathbb R}",
      NN: "{\\mathbb N}",
      Nso: "{N_{\\mathrm{so}}}",
      Nma: "{N_{\\mathrm{ma}}}",
      Nno: "{N_{\\mathrm{no}}}",
      Ne: "{N_{\\mathrm{e}}}",
      Ilag: ["{\\mathcal{I}^{\\mathrm{lag}}_{#1}}",1],
      calTh: "{\\mathcal{T}_h}",
      Ck: ["{\\mathcal{C}^{#1}}",1],
      Pk: ["{\\mathcal{P}^{#1}}",1],
      Qk: ["{\\mathcal{Q}^{#1}}",1],
      Pch: ["{P^{#1}_{c,h}}",1],
      Pcho: ["{P^{#1}_{c,h,0}}",1],
      Qch: ["{Q^{#1}_{c,h}}",1],
      Ich: ["{\\mathcal{I}^{#1}_{c,h}#2}",2],
      poly: ["{\\mathbb{#1}}",1],
      nf: "{n_f}",
      normal: "{\\mathbf{n}}",
      ngeo: "{n_{\\mathrm{geo}}}",
      geo: "{\\mathrm{geo}}",
      card: ["{\\operatorname{card}(#1)}",1],
      dim: ["{\\operatorname{dim}(#1)}",1],
      opdim: "{\\operatorname{dim}}",
      card: ["{\\operatorname{card}(#1)}",1],
      poly: ["{\\mathbb{#1}}",1],
      R: ["{\\mathbb{R}^{#1}}",1],
      set: ["{\\left\\{#1\\right\\}}",1],
      diam: "{\\operatorname{diam}}",
      jump: ["{[\\![ #1 ]\\!]}",1],
      Next: "{\\mathrm{n}}",
      essinf: "{\\operatorname{ess}\\, \\operatorname{inf}}",
      tr: "{\\operatorname{tr}}",
      Id: "{\\mathcal{I}}",
      disp: ["{\\mathbf{#1}}",1],
      stresst: ["{\\mathbf{\\sigma(#1)}}",1],
      deformt: ["{\\mathbf{\\varepsilon(#1)}}",1],
      domain: "{\\Omega}",
      prect: ["{\\left\\(#1\\right\\)}",1],
      ds: "",
      bold: ["{\\bf #1}",1]}}
});
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
